/* NAVIGATION  */

#navbar {
    background-color: #262B36;
    height: 4rem;

}

#navbar-home {
    background-color: #262B36;
    height: 4rem;
    letter-spacing: 0.3rem;
    font-weight: 400;
}

#home {
    color: #FFFFFF;
}

#home:is(:link, :active, :visited).active {
    color: #A10F33;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 0.3rem;
}

#logo {
    color: #A10F33;
}




/* About Us */

#container-aboutus {
    background-color: #F8F5F2;
    height: 50rem;
}

#aboutus-card {
    margin-left: 5rem;
}

#header-aboutus {
    color: #A10F33;
}

#aboutus-btn {
    background-color: #A10F33;
    border: none;
    border-radius: 30px;
    width: 12rem;
    height: 2.5rem;
    margin-right: 40rem;
    opacity: 0.8;

}



@media all and (max-width: 780px) {
    #aboutus-img {
        display: none;
    }

}

@media all and (max-width: 570px) {
    /* #image-div {
        width: 30rem;
        height: 10rem;
    } */

    #aboutus-img {
        display: none;
    }
}

@media all and (max-width: 570px) {
    #aboutus-text {
        font-size: 12px;
    }

    #header-aboutus {
        font-size: 18px;

    }

    #aboutus-card {
        margin-top: 50px;
        margin-left: 0.3rem;
        margin-right: 0.3rem;

    }
}



#aboutus-btn:hover {
    opacity: 1;
    transition: 1s;
    font-style: italic;
}


/* Chocolate more chocolate */

#container-choco {
    background-color: #F8F5F2;
    height: 70rem;
}

#choco-header {
    color: #A10F33;
    margin-top: 8rem;
}






/* FATCAT Specials */

#container-fatcat {
    background-color: #F8F5F2;
}

#header-fatcat {
    color: #A10F33;
}

@media all and (max-width: 780px) {
    #header-fatcat {
        font-size: 18px;
    }

    #fatcat-text {
        font-size: 14px;

    }
}


/* #fatcat-img1:hover {
    opacity: 0.6;
    transition: 0.3s;
    transform: translateY(-10px);

} */

/* #fatcat-text:hover {
    color: #A10F33;
} */

#fatcat-btn1 {
    background-color: #BCC0CA;
    color: #262B36;
    opacity: 0.5;
    border: none;
    border-radius: 30px;
    width: 10rem;
    height: 2.5rem;
    margin-right: 12rem;
    margin-top: -7rem;
}

#fatcat-btn1:hover {
    background-color: #A10F33;
    border: none;
    color: #FFFFFF;
    opacity: 0.8;
    transition: 0.8s;

}



#fatcat-img2 {
    width: 30rem;
    height: 40rem;
}

#fatcat-btn2 {
    background-color: #BCC0CA;
    color: #262B36;
    opacity: 0.5;
    border: none;
    border-radius: 30px;
    width: 10rem;
    height: 2.5rem;
    margin-right: 12rem;
    margin-top: -7rem;
}

#fatcat-btn2:hover {
    background-color: #A10F33;
    border: none;
    color: #FFFFFF;
    opacity: 0.8;
    transition: 0.8s;

}

#fatcat-img3 {
    width: 30rem;
    height: 40rem;
}

#fatcat-btn3 {
    background-color: #BCC0CA;
    color: #262B36;
    opacity: 0.5;
    border: none;
    border-radius: 30px;
    width: 10rem;
    height: 2.5rem;
    margin-right: 12rem;
    margin-top: -7rem;
}

#fatcat-btn3:hover {
    background-color: #A10F33;
    border: none;
    color: #FFFFFF;
    opacity: 0.8;
    transition: 0.8s;

}

@media all and (min-width: 570) {
    #container-fatcat {
        height: 30rem;

    }

    #fatcat-text {
        font-size: 7px;
    }

    #fatcat-text3 {
        font-size: 7px;
    }
}



/* Concept */

#container-concept {
    background-color: #F8F5F2;
    height: 60rem;
}

#concept-info {
    color: #A10F33;
    margin-top: 7rem;
}

@media all and (max-width: 570px) {
    #container-concept {
        height: 15rem;

    }
}

@media all and (max-width: 780px) {
    #concept-header {
        font-size: 18px;
    }

    #concept-header1 {
        font-size: 14px;
    }

    #container-concept {
        height: 30rem;

    }

}

@media all and (max-width: 400px) {
    #concept-header {
        font-size: 18px;
    }

    #concept-header1 {
        font-size: 8px;
    }

    #container-concept {
        height: 30rem;

    }

}


/* Footer */

#container-footer {
    background-color: #262B36;
    height: 15rem;
}

#footer-info {
    margin-top: 5rem;
}

#footer-info1 {
    margin-top: 5rem;
}